:root {
    --border-color:     #808080;
    --background-color: #fafac8;
    --primary-color:    #222222;
    --frame-color:      orange;

    --link-color:       blue;
    --visited-color:    purple;
    --hover-color:      orange;
    --active-color:     red;

    --status-color:      #c0c0c0;
    --status-background: #707070;
}

[data-theme="solar"] {
    --border-color:     #657b83;
    --background-color: #eee8d5;
    --primary-color:    #586e75;
    --frame-color:      #b58900;

    --status-color:      #93a1a1;
    --status-background: #586e75;
}

[data-theme="eclipse"] {
    --border-color:     #002b36;
    --background-color: #073642;
    --primary-color:    #93a1a1;
    --frame-color:      #b58900;

    --link-color:       #268bd2;
    --visited-color:    #6c71c4;
    --hover-color:      #b58900;
    --active-color:     #dc322f;

    --status-color:      #93a1a1;
    --status-background: #073642;
}

[data-theme="dark"] {
    --border-color:     #28283b;
    --background-color: #1a1a18;
    --primary-color:    #dedede;
    --frame-color:      orange;

    --link-color:       #268bd2;
    --visited-color:    #6c71c4;
    --hover-color:      #b58900;
    --active-color:     #dc322f;

    --status-color:      #93a1a1;
    --status-background: #38384b;
}
