:root {
    --primary-font:     'Merriweather', serif;
    --font-size:        24;
    --jed-width:        55%; 
    
    --border-color:     #808080;
    --background-color: #fafac8;
    --primary-color:    #222222;
    --frame-color:      orange;
    --selection:        #E0E0B0;

    --link-color:       blue;
    --visited-color:    purple;
    --hover-color:      orange;
    --active-color:     red;

    --status-color:      #c0c0c0;
    --status-background: #707070;

    --scrollbar-track:          #404045;
    --scrollbar-thumb-disabled: #505055;
    --scrollbar-thumb-focused:  #606070;
    --scrollbar-thumb-hover:    #A07020;
}

[data-theme="solar"] {
    --primary-font:     'PixelOperator', serif;
    --font-size:        24;
    --jed-width:        55%; 

    --border-color:     #657b83;
    --background-color: #eee8d5;
    --primary-color:    #586e75;
    --frame-color:      #b58900;
    --selection:        #C8C8B8;

    --status-color:      #93a1a1;
    --status-background: #586e75;
}

[data-theme="eclipse"] {
    --font-size:        24;
    --jed-width:        55%; 

    --border-color:     #002b36;
    --background-color: #073642;
    --primary-color:    #93a1a1;
    --frame-color:      #b58900;
    --selection:        #275662;

    --link-color:       #268bd2;
    --visited-color:    #6c71c4;
    --hover-color:      #b58900;
    --active-color:     #dc322f;

    --status-color:      #93a1a1;
    --status-background: #073642;
}

[data-theme="dark"] {
    --primary-font:     'PixelOperator', serif;
    --font-size:        24;
    --jed-width:        55%; 

    --border-color:     #28283b;
    --background-color: #1a1a18;
    --primary-color:    #dedede;
    --frame-color:      orange;
    --selection:        #3a3a38;

    --link-color:       #268bd2;
    --visited-color:    #6c71c4;
    --hover-color:      #b58900;
    --active-color:     #dc322f;

    --status-color:      #93a1a1;
    --status-background: #38384b;
}

[data-theme="amber-term"] {
    --primary-font:     'PixelOperator', serif;
    --font-size:        24;
    --jed-width:        55%; 

    --border-color:     #181000;
    --frame-color:      #FF9400;

    --primary-color:    #FF9400;
    --background-color: #2B1900;
    --selection:        #453525;

    --link-color:       #FF9400;
    --visited-color:    #CF6400;
    --hover-color:      #FFB400;
    --active-color:     #FFB420;
    
    --scrollbar-color: rebeccapurple green;

    --status-color:      #FF9400;
    --status-background: #2B1900;

}

[data-theme="green-term"] {
    --primary-font:     'PixelOperator', serif;
    --font-size:        24;
    --jed-width:        55%; 

    --border-color:     #020500;
    --frame-color:      #FF9400;

    --primary-color:    #0BFF00;
    --background-color: #021700;
    --selection:        #203015;

    --link-color:       #0BFF00;
    --visited-color:    #07AF00;
    --hover-color:      #9BFF90;
    --active-color:     #EBFF80;

    --status-color:      #0BFF00;
    --status-background: #202820;
}

[data-theme="e-ink"] {
    --primary-font:     'EB Garamond', serif;
    --font-size:        32;
    --jed-width:        100%; 

    --border-color:     #FFFFFF;
    --frame-color:      orange;

    --primary-color:    #000000;
    --background-color: #FFFFFF;
    --selection:        #D0D0D0;

    --status-color:      #606060;
    --status-background: #B0B0B0;

    --scrollbar-track:          #E0E0E0;
    --scrollbar-thumb-disabled: #C0C0C0;
    --scrollbar-thumb-focused:  #A0A0A0;
    --scrollbar-thumb-hover:    #A0A0A0;
}
